In [425]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import validation_curve

## Read & Clean the Data

In [426]:
#STEPS:
#us movie subsetting -- after read data
#drop col not used
#dropna
#work on $ replacement
#work on genre 
#possibly change year to decade
#change target to "n_votes"

In [427]:
#read data

movies=pd.read_csv('IMDb movies.csv',index_col=1)
movies.head(2)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
title,,,,,,,,,,,,,,,,,,,,,
Miss Jerry,tt0000009,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
The Story of the Kelly Gang,tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0

In [428]:
# filter data to keep budget values in $

USmovies=movies.budget.str.split(expand=True)[0]=='$'
movies=movies[USmovies]
movies.head(2)

,imdb_title_id,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
title,,,,,,,,,,,,,,,,,,,,,
The Story of the Kelly Gang,tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
Cleopatra,tt0002101,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0

In [429]:
movies.shape

(16602, 21)

In [430]:
# drop columns

movies.drop(labels=['description','actors','director','date_published','original_title',
                    'imdb_title_id','writer','production_company','year', 'metascore'],axis=1,inplace=True)
movies.head(2)

,genre,duration,country,language,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics
title,,,,,,,,,,,
The Story of the Kelly Gang,"Biography, Crime, Drama",70,Australia,None,6.1,589,$ 2250,NaN,NaN,7.0,7.0
Cleopatra,"Drama, History",100,USA,English,5.2,446,$ 45000,NaN,NaN,25.0,3.0

In [431]:
# drop missing values

movies.dropna(inplace=True)

In [432]:
# remove the dollar sign from the 'budget', 'usa_gross_income', and 'worlwide_gross_income' columns

movies['budget']=movies['budget'].replace({'\$':''}, regex = True)
movies['usa_gross_income']=movies['usa_gross_income'].replace({'\$':''}, regex = True)
movies['worlwide_gross_income']=movies['worlwide_gross_income'].replace({'\$':''}, regex = True)

In [433]:
movies.head(2)

,genre,duration,country,language,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics
title,,,,,,,,,,,
Il gabinetto del dottor Caligari,"Fantasy, Horror, Mystery",76,Germany,German,8.1,55601,18000,8811,8811,237.0,160.0
I quattro cavalieri dell'Apocalisse,"Drama, Romance, War",150,USA,None,7.2,3058,800000,9183673,9183673,45.0,16.0

In [434]:
#split up the listed genres

movies1=movies.genre.str.split(expand=True)
movies1[0]=movies1[0].replace({'\,':''}, regex = True)
movies1.head(3)

                                           0         1        2
title
Il gabinetto del dottor Caligari     Fantasy   Horror,  Mystery
I quattro cavalieri dell'Apocalisse    Drama  Romance,      War
Luci della città                      Comedy    Drama,  Romance

In [435]:
movies1[0].unique()

array(['Fantasy', 'Drama', 'Comedy', 'Crime', 'Animation', 'Adventure',
       'Biography', 'Film-Noir', 'Horror', 'Action', 'Mystery', 'Musical',
       'War', 'Western', 'Sci-Fi', 'Family', 'Documentary', 'Romance',
       'Thriller', 'Music', 'Sport'], dtype=object)

In [436]:
movies1[1].unique()

array(['Horror,', 'Romance,', 'Drama,', 'Family,', 'History,', 'Drama',
       'Comedy,', 'Mystery', 'Fantasy,', 'Crime,', None, 'Film-Noir',
       'Musical,', 'Thriller', 'Family', 'Adventure,', 'History', 'War',
       'Western', 'Mystery,', 'Biography,', 'Romance', 'Music,', 'War,',
       'Sci-Fi', 'Music', 'Sci-Fi,', 'Horror', 'Musical', 'Crime',
       'Sport', 'Comedy', 'Adventure', 'Sport,', 'Fantasy', 'Thriller,',
       'Action,', 'Action', 'Animation'], dtype=object)

In [437]:
movies1[2].unique()

array(['Mystery', 'War', 'Romance', 'Family', 'Fantasy', None, 'History',
       'Film-Noir', 'Western', 'Drama', 'Horror', 'Comedy', 'Thriller',
       'Musical', 'Sci-Fi', 'Crime', 'Music', 'Sport', 'Adventure',
       'Action', 'Biography'], dtype=object)

In [438]:
# remove the duplicates

movie_genres_listed=['Comedy', 'Crime', 'Animation', 'Drama', 'Adventure', 'Action',
       'Mystery', 'War', 'Horror', 'Western', 'Biography', 'Family',
       'Musical', 'Fantasy', 'Sci-Fi', 'Romance', 'Thriller', 'Music','Drama', 'Family', 'History', 'Drama', 'Comedy', 'Mystery',
       'Romance', 'Fantasy','Musical', 'Family', 'Adventure',
       'War', 'Thriller', 'Western', 'Mystery', 'Biography', 'Crime',
       'Music', 'Romance', 'War', 'Sci-Fi', 'Music', 'Sci-Fi',
       'Musical', 'Horror', 'Crime', 'Sport', 'Comedy', 'Horror',
       'Adventure', 'Sport', 'Action', 'Fantasy', 'Action', 'History',
       'Thriller','Romance', 'Family', 'Fantasy', 'War', 'Western', 'Mystery',
       'Horror', 'Comedy', 'Film-Noir', 'Thriller', 'History', 'Drama',
       'Musical', 'Sci-Fi', 'Music', 'Crime', 'Sport', 'Adventure',
       'Action', 'Biography']

genres_filter=set(movie_genres_listed)
print(list(genres_filter))

['Biography', 'Family', 'Comedy', 'Adventure', 'Sci-Fi', 'Film-Noir', 'Musical', 'Mystery', 'Drama', 'History', 'Romance', 'Animation', 'War', 'Horror', 'Sport', 'Music', 'Western', 'Thriller', 'Action', 'Crime', 'Fantasy']

In [439]:
# Categorize the data

genresList=['Horror', 'Thriller', 'Family', 'Animation', 'Crime', 'Biography', 'Sci-Fi', 
            'Fantasy', 'Drama', 'Adventure', 'Western', 'War', 'Sport', 'Mystery', 'Romance', 'Action', 
            'History', 'Film-Noir', 'Comedy', 'Musical']

for i in genresList:
    movies[i]=((movies.genre.str.find(i))>-1)*1

movies.drop(labels=['genre'], axis=1, inplace=True)   
movies.head(3)

,duration,country,language,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics,Horror,Thriller,Family,Animation,Crime,Biography,Sci-Fi,Fantasy,Drama,Adventure,Western,War,Sport,Mystery,Romance,Action,History,Film-Noir,Comedy,Musical
title,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Il gabinetto del dottor Caligari,76,Germany,German,8.1,55601,18000,8811,8811,237.0,160.0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
I quattro cavalieri dell'Apocalisse,150,USA,None,7.2,3058,800000,9183673,9183673,45.0,16.0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0
Luci della città,87,USA,English,8.5,162668,1500000,19181,46008,295.0,122.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0

In [440]:
movies.shape

(7250, 30)

In [441]:
#split up the listed countries

countries=movies.country.str.split(expand=True)
countries[0]=countries[0].replace({'\,':''}, regex = True)
countries.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
title,,,,,,,,,,,,,,
Il gabinetto del dottor Caligari,Germany,None,None,None,None,None,None,None,None,None,None,None,None,None
I quattro cavalieri dell'Apocalisse,USA,None,None,None,None,None,None,None,None,None,None,None,None,None
Luci della città,USA,None,None,None,None,None,None,None,None,None,None,None,None,None

In [442]:
# drop the duplicate countries

countries.drop_duplicates(subset=[0], inplace=True)
countries.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
title,,,,,,,,,,,,,,
Il gabinetto del dottor Caligari,Germany,None,None,None,None,None,None,None,None,None,None,None,None,None
I quattro cavalieri dell'Apocalisse,USA,None,None,None,None,None,None,None,None,None,None,None,None,None
Il bandito della Casbah,France,None,None,None,None,None,None,None,None,None,None,None,None,None

In [443]:
countries[0].unique()

array(['Germany', 'USA', 'France', 'Italy', 'Japan', 'UK', 'Switzerland',
       'Algeria', 'Soviet', 'Mexico', 'Iran', 'West', 'Canada',
       'Australia', 'South', 'Spain', 'Sweden', 'Hong', 'New',
       'Yugoslavia', 'Ireland', 'Taiwan', 'China', 'Portugal', 'Austria',
       'Russia', 'Republic', 'Federal', 'Czech', 'Netherlands', 'Denmark',
       'Aruba', 'Brazil', 'Greece', 'India', 'Jamaica', 'Argentina',
       'Norway', 'Hungary', 'Afghanistan', 'Kazakhstan', 'Chile',
       'Colombia', 'Philippines', 'Israel', 'Palestine', 'Romania',
       'Belgium', 'Poland', 'Bhutan', 'Iceland', 'Serbia', 'Pakistan',
       'Georgia', 'Vietnam', 'United', 'Qatar', 'Panama', 'Turkey',
       'Indonesia', 'Puerto', 'Finland', 'Nigeria', 'Venezuela', 'Kenya',
       'Malta', 'Peru', 'Thailand', 'Lebanon'], dtype=object)

In [444]:
# Specify the countries that will be used
# Categorize the data

countryList=['USA', 'France', 'Japan', 'UK', 'Italy', 'Australia',
       'Mexico', 'Canada', 'Spain', 'Germany',
       'Russia']

for i in countryList:
    movies[i]=((movies.country.str.find(i))>-1)*1

movies.drop(labels=['country'], axis=1, inplace=True)   
movies.head(3)

,duration,language,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics,Horror,Thriller,Family,Animation,Crime,Biography,Sci-Fi,Fantasy,Drama,Adventure,Western,War,Sport,Mystery,Romance,Action,History,Film-Noir,Comedy,Musical,USA,France,Japan,UK,Italy,Australia,Mexico,Canada,Spain,Germany,Russia
title,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Il gabinetto del dottor Caligari,76,German,8.1,55601,18000,8811,8811,237.0,160.0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
I quattro cavalieri dell'Apocalisse,150,None,7.2,3058,800000,9183673,9183673,45.0,16.0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
Luci della città,87,English,8.5,162668,1500000,19181,46008,295.0,122.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0

In [445]:
# Specify the languages that will be used
# Categorize the data

languageList=['English','Spanish','French','German','Italian','Russian', 'Japanese']

for i in languageList:
    movies[i]=((movies.language.str.find(i))>-1)*1

movies.drop(labels=['language'], axis=1, inplace=True)   
movies.head(3)

,duration,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics,Horror,Thriller,Family,Animation,Crime,Biography,Sci-Fi,Fantasy,Drama,Adventure,Western,War,Sport,Mystery,Romance,Action,History,Film-Noir,Comedy,Musical,USA,France,Japan,UK,Italy,Australia,Mexico,Canada,Spain,Germany,Russia,English,Spanish,French,German,Italian,Russian,Japanese
title,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Il gabinetto del dottor Caligari,76,8.1,55601,18000,8811,8811,237.0,160.0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
I quattro cavalieri dell'Apocalisse,150,7.2,3058,800000,9183673,9183673,45.0,16.0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Luci della città,87,8.5,162668,1500000,19181,46008,295.0,122.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [446]:
movies.shape

(7250, 46)

In [447]:
# Categorize the average vote value as: high_rated, avg_rated, low_rated

movies['vote_category']='avg_rated'
movies.loc[movies.avg_vote>=7,'vote_category']='high_rated'
movies.loc[movies.avg_vote<=5,'vote_category']='low_rated'

movies.head(3)

,duration,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics,Horror,Thriller,Family,Animation,Crime,Biography,Sci-Fi,Fantasy,Drama,Adventure,Western,War,Sport,Mystery,Romance,Action,History,Film-Noir,Comedy,Musical,USA,France,Japan,UK,Italy,Australia,Mexico,Canada,Spain,Germany,Russia,English,Spanish,French,German,Italian,Russian,Japanese,vote_category
title,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Il gabinetto del dottor Caligari,76,8.1,55601,18000,8811,8811,237.0,160.0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,high_rated
I quattro cavalieri dell'Apocalisse,150,7.2,3058,800000,9183673,9183673,45.0,16.0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,high_rated
Luci della città,87,8.5,162668,1500000,19181,46008,295.0,122.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,high_rated

In [448]:
# create featured and target sets

X_movie, y_movie=movies.iloc[:,:-1], movies['vote_category']
X_movie.head(2)

,duration,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics,Horror,Thriller,Family,Animation,Crime,Biography,Sci-Fi,Fantasy,Drama,Adventure,Western,War,Sport,Mystery,Romance,Action,History,Film-Noir,Comedy,Musical,USA,France,Japan,UK,Italy,Australia,Mexico,Canada,Spain,Germany,Russia,English,Spanish,French,German,Italian,Russian,Japanese
title,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Il gabinetto del dottor Caligari,76,8.1,55601,18000,8811,8811,237.0,160.0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
I quattro cavalieri dell'Apocalisse,150,7.2,3058,800000,9183673,9183673,45.0,16.0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [449]:
y_movie.head(2)

title
Il gabinetto del dottor Caligari       high_rated
I quattro cavalieri dell'Apocalisse    high_rated
Name: vote_category, dtype: object

## KNN- Classification

In [450]:
# split to train and test
#the order is important
#make sure to use X_dummies!!!!!
X_train,X_test,y_train,y_test=train_test_split(X_movie, y_movie, random_state=0)

In [451]:
print("X_train shape: ", X_train.shape)
print("X_test shape: ", X_test.shape)
print("y_train shape: ", y_train.shape)
print("y_train shape: ", y_test.shape)

X_train shape:  (5437, 46)
X_test shape:  (1813, 46)
y_train shape:  (5437,)
y_train shape:  (1813,)

In [452]:
#define and fit the model
#define the model
knn1=KNeighborsClassifier(n_neighbors=1)
knn10=KNeighborsClassifier(n_neighbors=10)
knn25=KNeighborsClassifier(n_neighbors=25)

In [453]:
#fit using training data
knn1.fit(X_train,y_train)
knn10.fit(X_train,y_train)
knn25.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=25)

In [454]:
print('knn1 accuracy on train: {:.2%}'.format(knn1.score(X_train,y_train)))
print('knn1 accuracy on test: {:.2%}'.format(knn1.score(X_test,y_test)),'\n')

print('knn10 accuracy on train: {:.2%}'.format(knn10.score(X_train,y_train)))
print('knn10 accuracy on test: {:.2%}'.format(knn10.score(X_test,y_test)),'\n')

print('knn25 accuracy on train: {:.2%}'.format(knn25.score(X_train,y_train)))
print('knn25 accuracy on test: {:.2%}'.format(knn25.score(X_test,y_test)),'\n')

knn1 accuracy on train: 100.00%
knn1 accuracy on test: 52.84%

knn10 accuracy on train: 66.97%
knn10 accuracy on test: 62.55%

knn25 accuracy on train: 65.96%
knn25 accuracy on test: 64.04%

In [455]:
#expand output of dataset
pd.set_option("display.max_columns", None)

In [456]:
X_train.head(1)

,duration,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,reviews_from_users,reviews_from_critics,Horror,Thriller,Family,Animation,Crime,Biography,Sci-Fi,Fantasy,Drama,Adventure,Western,War,Sport,Mystery,Romance,Action,History,Film-Noir,Comedy,Musical,USA,France,Japan,UK,Italy,Australia,Mexico,Canada,Spain,Germany,Russia,English,Spanish,French,German,Italian,Russian,Japanese
title,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Dead Awake,99,4.6,2958,24000000,11528,21675,28.0,32.0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [457]:
# Toy Story Movie, Greta, and Street Fighter Predictions

# movie = [box office info
#           genre
#           country
#           language]

ToyStory=[81,8.3,905495,30000000,223225679,394436586,668.0,165.0,
        0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,
        1,0,0,0,0,0,0,0,0,0,0,
        1,0,0,0,0,0,0]

Greta=[98,6.0,29287,34000000,10532219,18653107,436.0,254.0,
        1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,
        1,0,0,0,0,0,0,0,0,0,0,
        1,0,1,0,0,0,0]

StreetFighter=[102,4.0,67061,35000000,33423521,99431786,337.0,86.0,
        0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,
        1,0,1,0,0,0,0,0,0,0,0,
        1,0,0,0,0,0,1]

In [458]:
knn25.predict([ToyStory])

array(['high_rated'], dtype=object)

In [459]:
knn25.predict([Greta])

array(['avg_rated'], dtype=object)

In [460]:
knn25.predict([StreetFighter])

array(['avg_rated'], dtype=object)

### Validation Curve

In [461]:
train_score,test_score=validation_curve(KNeighborsClassifier(),X_train,y_train,
                                        param_name='n_neighbors',param_range=[1,2,3,4,5,6],cv=5, scoring='accuracy')

In [462]:
train_score

array([[1.        , 1.        , 1.        , 1.        , 1.        ],
       [0.76178432, 0.75787537, 0.76137931, 0.75494253, 0.76      ],
       [0.75465624, 0.74913773, 0.74666667, 0.74183908, 0.75195402],
       [0.7174063 , 0.71441711, 0.71126437, 0.7108046 , 0.71448276],
       [0.70429984, 0.70383996, 0.70666667, 0.70413793, 0.70275862],
       [0.6870545 , 0.68728443, 0.68804598, 0.68436782, 0.68827586]])

In [463]:
test_score

array([[0.51378676, 0.53033088, 0.51609936, 0.5124195 , 0.49218031],
       [0.59191176, 0.60569853, 0.60625575, 0.61085557, 0.59889604],
       [0.57169118, 0.56341912, 0.5924563 , 0.59705612, 0.58693652],
       [0.58455882, 0.60110294, 0.59797608, 0.63477461, 0.58785649],
       [0.60018382, 0.59191176, 0.6025759 , 0.62189512, 0.59521619],
       [0.60294118, 0.60294118, 0.61177553, 0.62373505, 0.60809568]])

In [464]:
train_score.mean(axis=1)

array([1.        , 0.75919631, 0.74885075, 0.71367503, 0.7043406 ,
       0.68700572])

In [465]:
test_score.mean(axis=1)

array([0.51296336, 0.60272353, 0.58231185, 0.60125379, 0.60235656,
       0.60989772])

## Logistic Regression

In [466]:
from sklearn.linear_model import LogisticRegression

In [467]:
X_train,X_test,y_train,y_test=train_test_split(X_movie, y_movie, random_state=0)

In [468]:
# define the model and fit
# default used to be linear but now lbfgs 

log_reg=LogisticRegression(max_iter=100000)
log_reg.fit(X_train,y_train)

LogisticRegression(max_iter=100000)

In [469]:
print('log reg acc on train: {:.2%}'.format(log_reg.score(X_train,y_train)))
print('log reg acc on test: {:.2%}'.format(log_reg.score(X_test,y_test)))

log reg acc on train: 68.00%
log reg acc on test: 68.01%

In [470]:
# Predictions

log_reg.predict([ToyStory])

array(['high_rated'], dtype=object)

In [471]:
log_reg.predict([Greta])

array(['avg_rated'], dtype=object)

In [472]:
log_reg.predict([StreetFighter])

array(['avg_rated'], dtype=object)

### Validation Curve

In [473]:
C_range=[.1,.5,1,10,100,200]

In [474]:
# validation_curve has two outputs: 1- scores on training sets
# 2 - scores on test sets

train_scores,test_scores=validation_curve(LogisticRegression(solver='liblinear'),X_movie,y_movie,param_name='C',param_range=C_range,cv=5)

In [475]:
train_scores

array([[0.67086207, 0.67293103, 0.67931034, 0.6862069 , 0.69310345],
       [0.67086207, 0.67293103, 0.67931034, 0.6862069 , 0.69310345],
       [0.67086207, 0.67293103, 0.67931034, 0.6862069 , 0.69310345],
       [0.67086207, 0.67293103, 0.67931034, 0.6862069 , 0.69310345],
       [0.67086207, 0.67293103, 0.67931034, 0.6862069 , 0.69310345],
       [0.67086207, 0.67293103, 0.67931034, 0.6862069 , 0.69310345]])

In [476]:
test_scores

array([[0.71931034, 0.71241379, 0.68827586, 0.65517241, 0.59172414],
       [0.71931034, 0.71241379, 0.68827586, 0.65517241, 0.59172414],
       [0.71931034, 0.71241379, 0.68827586, 0.65517241, 0.59172414],
       [0.71931034, 0.71241379, 0.68827586, 0.65517241, 0.59172414],
       [0.71931034, 0.71241379, 0.68827586, 0.65517241, 0.59172414],
       [0.71931034, 0.71241379, 0.68827586, 0.65517241, 0.59172414]])

In [477]:
train_scores.mean(axis=1)

array([0.68048276, 0.68048276, 0.68048276, 0.68048276, 0.68048276,
       0.68048276])

In [478]:
test_scores.mean(axis=1)

array([0.67337931, 0.67337931, 0.67337931, 0.67337931, 0.67337931,
       0.67337931])

## Support Vector Machine (SVM)

### Transforming the Features

In [479]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import LinearSVC
from sklearn.model_selection import validation_curve

In [480]:
scaler1=MinMaxScaler()
X_movie_trns=scaler1.fit_transform(X_movie)
X_movie_trns

array([[0.07582938, 0.84810127, 0.02435595, ..., 0.        , 0.        ,
        0.        ],
       [0.42654028, 0.73417722, 0.00129808, ..., 0.        , 0.        ,
        0.        ],
       [0.12796209, 0.89873418, 0.07134102, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.11374408, 0.59493671, 0.00743304, ..., 0.        , 0.        ,
        0.        ],
       [0.2464455 , 0.78481013, 0.00709908, ..., 0.        , 0.        ,
        1.        ],
       [0.26540284, 0.64556962, 0.00267516, ..., 0.        , 0.        ,
        0.        ]])

In [481]:
X_train,X_test,y_train,y_test=train_test_split(X_movie_trns, y_movie, random_state=0)

In [482]:
# define
# fit model
svm1=LinearSVC(random_state=0)
svm1.fit(X_train,y_train)

LinearSVC(random_state=0)

In [483]:
# evaluation
print('svm1 accon on train: {:.2%}'.format(svm1.score(X_train,y_train)))
print('svm1 accon on test: {:.2%}'.format(svm1.score(X_test,y_test)))

svm1 accon on train: 92.28%
svm1 accon on test: 91.95%

In [484]:
# Prediction

In [485]:
TS_predict_trns=scaler1.transform([ToyStory])
TS_predict_trns

array([[0.09952607, 0.87341772, 0.39732177, 0.08426962, 0.23832034,
        0.14098094, 0.06369974, 0.16432866, 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ]])

In [486]:
svm1.predict(TS_predict_trns)

array(['high_rated'], dtype=object)

In [487]:
G_predict_trns=scaler1.transform([Greta])
G_predict_trns

array([[0.18009479, 0.58227848, 0.01280837, 0.09550557, 0.01124438,
        0.00666705, 0.04154331, 0.25350701, 1.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        ]])

In [488]:
svm1.predict(G_predict_trns)

array(['avg_rated'], dtype=object)

In [489]:
SF_predict_trns=scaler1.transform([StreetFighter])
SF_predict_trns

array([[0.19905213, 0.32911392, 0.02938503, 0.09831456, 0.03568361,
        0.03553926, 0.03208863, 0.08517034, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 1.        , 0.        , 1.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        ]])

In [490]:
svm1.predict(SF_predict_trns)

array(['low_rated'], dtype=object)

### Validation Curve

In [491]:
LinearSVC()

LinearSVC()

In [492]:
C_range=[.1,1,5,10,50,100]

In [493]:
train_scores,test_scores=validation_curve(LinearSVC(random_state=0,max_iter=100000),X_movie_trns,y_movie,param_name='C',param_range=C_range,cv=5)

In [494]:
train_scores

array([[0.84844828, 0.85362069, 0.84706897, 0.84827586, 0.84913793],
       [0.92672414, 0.92810345, 0.92689655, 0.92517241, 0.92517241],
       [0.95689655, 0.95844828, 0.95655172, 0.9562069 , 0.95568966],
       [0.96568966, 0.96758621, 0.96603448, 0.96706897, 0.96586207],
       [0.98551724, 0.98344828, 0.98482759, 0.98327586, 0.98568966],
       [0.99413793, 0.99086207, 0.99275862, 0.99241379, 0.99275862]])

In [495]:
test_scores

array([[0.8462069 , 0.79586207, 0.85172414, 0.85586207, 0.85793103],
       [0.92758621, 0.89862069, 0.92      , 0.92896552, 0.92758621],
       [0.95724138, 0.9337931 , 0.95862069, 0.95655172, 0.95172414],
       [0.96758621, 0.94551724, 0.96965517, 0.96551724, 0.96275862],
       [0.98344828, 0.96689655, 0.98206897, 0.98      , 0.97724138],
       [0.98965517, 0.97793103, 0.98965517, 0.9862069 , 0.98758621]])

In [496]:
train_scores.mean(axis=1).round(3)

array([0.849, 0.926, 0.957, 0.966, 0.985, 0.993])

In [497]:
test_scores.mean(axis=1)

array([0.84151724, 0.92055172, 0.95158621, 0.9622069 , 0.97793103,
       0.9862069 ])

# Decision Tree

In [498]:
from sklearn.tree import DecisionTreeClassifier

In [499]:
# split to train and test

X_train,X_test,y_train,y_test=train_test_split(X_movie,y_movie, random_state=0)

In [500]:
# define and fit model

dt1=DecisionTreeClassifier(random_state=0)
dt1.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

In [501]:
# evaluate performance 

print('dt1 on train: {:.2%}'.format(dt1.score(X_train,y_train)))
print('dt1 on test: {:.2%}'.format(dt1.score(X_test,y_test)))

dt1 on train: 100.00%
dt1 on test: 100.00%

In [502]:
#Prediction
dt1.predict([ToyStory])

array(['high_rated'], dtype=object)

In [503]:
dt1.predict([Greta])

array(['avg_rated'], dtype=object)

In [504]:
dt1.predict([StreetFighter])

array(['low_rated'], dtype=object)

### visualizing the tree

In [505]:
from sklearn.tree import export_graphviz

In [506]:
export_graphviz(dt1, out_file='tree_vis1.dot',feature_names=X_movie.columns
                ,class_names=dt1.classes_,filled=True)

### Validation Curve

In [507]:
train_score,test_score=validation_curve(DecisionTreeClassifier(random_state=0),X_train,y_train,
                                        param_name='max_depth',param_range=[2,3,4,5,6],cv=5)

In [508]:
train_score.mean(axis=1)

array([1., 1., 1., 1., 1.])

In [509]:
test_score.mean(axis=1)

array([1., 1., 1., 1., 1.])

# Random Forest

In [510]:
from sklearn.tree import DecisionTreeClassifier

In [511]:
# split to train and test
X_train, X_test, y_train, y_test=train_test_split(X_movie, y_movie, random_state=0)

In [512]:
train_scores, test_scores=validation_curve(DecisionTreeClassifier(random_state=0), X_train, y_train, param_name='max_leaf_nodes',
                                           param_range=[2,3,4,5,6], cv=4)

In [513]:
print(train_scores.mean(axis=1))
print(test_scores.mean(axis=1))

[0.89865735 1.         1.         1.         1.        ]
[0.89865737 1.         1.         1.         1.        ]

## fit a DT w max_leaf_nodes 5

In [514]:
dt1=DecisionTreeClassifier(random_state=0, max_leaf_nodes=5)
dt1.fit(X_train, y_train)

DecisionTreeClassifier(max_leaf_nodes=5, random_state=0)

In [515]:
# evaluate the performance
print('dt1 acc on train: {:.2%}'.format(dt1.score(X_train, y_train)))
print('dt1 acc on test: {:.2%}'.format(dt1.score(X_test, y_test)))

dt1 acc on train: 100.00%
dt1 acc on test: 100.00%

In [516]:
feat_imp=pd.DataFrame(data=dt1.feature_importances_, index=X_movie.columns, columns=['importance'])
feat_imp.sort_values(by=['importance'], ascending=False)

                       importance
avg_vote                      1.0
duration                      0.0
Mexico                        0.0
Film-Noir                     0.0
Comedy                        0.0
Musical                       0.0
USA                           0.0
France                        0.0
Japan                         0.0
UK                            0.0
Italy                         0.0
Australia                     0.0
Canada                        0.0
Spain                         0.0
Germany                       0.0
Russia                        0.0
English                       0.0
Spanish                       0.0
French                        0.0
German                        0.0
Italian                       0.0
Russian                       0.0
History                       0.0
Action                        0.0
Romance                       0.0
Mystery                       0.0
votes                         0.0
budget                        0.0
usa_gross_income              0.0
worlwide_gross_income         0.0
reviews_from_users            0.0
reviews_from_critics          0.0
Horror                        0.0
Thriller                      0.0
Family                        0.0
Animation                     0.0
Crime                         0.0
Biography                     0.0
Sci-Fi                        0.0
Fantasy                       0.0
Drama                         0.0
Adventure                     0.0
Western                       0.0
War                           0.0
Sport                         0.0
Japanese                      0.0

## Random Forest-Data

In [517]:
from sklearn.ensemble import RandomForestClassifier

In [518]:
# define and fit the model
rf1=RandomForestClassifier(n_estimators=200,random_state=0)
rf1.fit(X_train,y_train)

RandomForestClassifier(n_estimators=200, random_state=0)

In [519]:
#evaluate the performance
print('rf1 on train: {:.2%}'.format(rf1.score(X_train,y_train)))
print('rf1 on test: {:.2%}'.format(rf1.score(X_test,y_test)))

rf1 on train: 100.00%
rf1 on test: 99.78%

In [520]:
#Predictions
rf1.predict([ToyStory])

array(['high_rated'], dtype=object)

In [521]:
rf1.predict([Greta])

array(['avg_rated'], dtype=object)

In [522]:
rf1.predict([StreetFighter])

array(['low_rated'], dtype=object)

## feature_importance

In [523]:
rf1.feature_importances_

array([3.31523691e-02, 6.63589038e-01, 6.57347964e-02, 2.78099918e-02,
       2.65447782e-02, 2.43633755e-02, 4.30554408e-02, 2.97296592e-02,
       5.46031655e-03, 2.65591870e-03, 2.22818317e-03, 2.14255329e-03,
       2.62571742e-03, 5.28490478e-03, 1.67877745e-03, 2.27406582e-03,
       1.46393474e-02, 3.03327822e-03, 2.70488256e-04, 8.10246117e-04,
       7.38770109e-04, 1.75633243e-03, 2.30641321e-03, 4.95711999e-03,
       8.91412511e-04, 6.36309813e-06, 3.81095799e-03, 8.75641089e-04,
       3.50774559e-03, 1.62012036e-03, 1.17855528e-03, 2.48151400e-03,
       9.91397980e-04, 7.36826301e-04, 7.57574319e-04, 1.97674531e-03,
       4.97705854e-04, 1.51646537e-03, 3.50872512e-04, 3.57741380e-03,
       1.90765472e-03, 1.71496652e-03, 1.46833165e-03, 1.25772937e-03,
       1.05287134e-03, 9.79253103e-04])

In [524]:
rf_feat_imp=pd.DataFrame(data=rf1.feature_importances_,
                      index=X_movie.columns,columns=['importance'])
rf_feat_imp.sort_values(by=['importance'],ascending=False)

                       importance
avg_vote                 0.663589
votes                    0.065735
reviews_from_users       0.043055
duration                 0.033152
reviews_from_critics     0.029730
budget                   0.027810
usa_gross_income         0.026545
worlwide_gross_income    0.024363
Drama                    0.014639
Horror                   0.005460
Biography                0.005285
Action                   0.004957
Comedy                   0.003811
English                  0.003577
USA                      0.003508
Adventure                0.003033
Thriller                 0.002656
Crime                    0.002626
UK                       0.002482
Romance                  0.002306
Fantasy                  0.002274
Family                   0.002228
Animation                0.002143
Canada                   0.001977
Spanish                  0.001908
Mystery                  0.001756
French                   0.001715
Sci-Fi                   0.001679
France                   0.001620
Germany                  0.001516
German                   0.001468
Italian                  0.001258
Japan                    0.001179
Russian                  0.001053
Italy                    0.000991
Japanese                 0.000979
History                  0.000891
Musical                  0.000876
War                      0.000810
Mexico                   0.000758
Sport                    0.000739
Australia                0.000737
Spain                    0.000498
Russia                   0.000351
Western                  0.000270
Film-Noir                0.000006